.head-box {
  top: 10px;
  position: absolute;
  left: -60px;
}

.wrapper-innen {
    width: 960px;
    margin: 0 auto;
    min-height: 1px;
    height: 100%;
    position: relative;
}


.click-section {
    position: absolute;
    top: 20px;
    z-index: 9999;
}
.f-dropdown,
.f-dropdown.drop-top {
    width: 0 !important;
    height: 0;
}
.f-dropdown.drop-top.open {
    display: block;
    width: 100px !important;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    height: 100px;
}
//@import "bower_components/font-awesome-sass/assets/stylesheets/_font-awesome-sprockets.scss";
@import "../bower_components/font-awesome-sass/assets/stylesheets/font-awesome.scss";


@import "modules/mixins";
@import "modules/colors";
@import "modules/header";
@import "modules/color_list";
@import "modules/icons";
@import "modules/intro_layer";
@import "modules/color_picker";
@import "modules/tooltip";
@import "modules/reset";
@import "modules/buttons";
@import "modules/font";
@import "modules/teaser";
@import "modules/own_design_modul_point";
@import "modules/own_design_bed_modul";
@import "modules/reset_foundation";
@import "modules/footer";
@import "modules/own_design";
body {
      background-color: #f2f2f2;
}

.center-center {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header {
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h1 {
        font-size: 3.75rem;
        text-align: center;
        color: #b0bec5;
    }
}

@import "../bower_components/materialize/sass/components/_color.scss";




@media (max-width: 570px) {
}

@media (min-width: 571px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

