<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>

    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/main_css.css"/>
    <script src="js/vendor/modernizr.js"></script>
</head>
<body ng-app="myApp">
<!-- Navigation -->
<div class="sticky fixed">
    <nav class="top-bar bg-grey-blueLight" data-topbar="" role="navigation" data-options="sticky_on: large">
        <div class="wrapper-innen">
            <ul class="top-bar-main-nav">
                <li><a href="#"><span>Home</span></a></li>
                <li><a href="#"><span>own Design</span></a></li>
                <li><a href="#"><span>Gallery</span></a></li>
                <li><a href="#"><span>Kontakt</span></a></li>
                <li><a href="#"><span>Checkout</span></a></li>

            </ul>
            <ul class="title-area">
                <!-- Title Area -->
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Intro-Layer -->
<section id="intro-layer">
    <div class="wrapper-innen">
        <article class="intro-teaser">
            <h1>Lorem ipsum dolor sit amet, consetetur </h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consetetur Lorem ipsum dolor sit amet, consetetur Lorem ipsum dolor sit amet,
               consetetur Lorem ipsum dolor sit amet, consetetur Lorem ipsum dolor sit amet, consetetur Lorem ipsum
               dolor sit amet, consetetur </p>
        </article>
        <img class="intro-teaser-img" src="img/teaser-img.png">
    </div>

</section>
<!-- end-Layer -->

<section ng-controller="bedhead" id="own-design-section">
    <div class="row">
        <div class="large-12 columns">
            <div class="row">

                <div class="large-8 columns">
                    <figure class="own-design-bed">

                        <!-- ------------ Poi bed ------------ -->
                        <section class="tooltip-section poi-1">
                            <a href="#" data-options="align:top" data-dropdown="drop-1" class="bed-icon-poi "></a>
                            <section id="drop-1" class="tooltip-point" data-dropdown-content>
                                <ul class="color-list">
                                    <li ng-repeat="choice in head">
                                        <button ng-click="changeData('head', choice)">{{ choice | capitalize }}</button>
                                    </li>
                                  <!--  <li>
                                        <button ng-click="changeHeadData('black')">Black</button>
                                    </li>
                                    <li>
                                        <i ng-click="changeHeadData('grey')">Grey</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeHeadData('blue')">Blue</i>
                                    </li>-->
                                </ul>
                            </section>
                        </section>
                        <section class="tooltip-section poi-2">
                            <a href="#" data-options="align:top" data-dropdown="drop-2" class="bed-icon-poi "></a>
                            <section id="drop-2" class="tooltip-point" data-dropdown-content>
                                <ul class="color-list">
                                    <li>
                                        <i class="" ng-click="changeSrcNoneHead2()">None</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcMiddleHead2()">Middle</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcHead2()">Head</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcHead2()">Head</i>
                                    </li>
                                </ul>
                            </section>
                        </section>
                        <section class="tooltip-section poi-3">
                            <a href="#" data-options="align:top" data-dropdown="drop-3" class="bed-icon-poi "></a>
                            <section id="drop-3" class="tooltip-point" data-dropdown-content>
                                <ul class="color-list">
                                    <li>
                                        <i class="" ng-click="changeSrcNoneHead2()">None</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcMiddleHead2()">Middle</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcHead2()">Head</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcHead2()">Head</i>
                                    </li>
                                </ul>
                            </section>
                        </section>
                        <section class="tooltip-section poi-4">
                            <a href="#" data-options="align:top" data-dropdown="drop-4" class="bed-icon-poi "></a>
                            <section id="drop-4" class="tooltip-point" data-dropdown-content>
                                <ul class="color-list">
                                    <li>
                                        <i class="" ng-click="changeSrcHead()">None</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcMiddleHead2()">Middle</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcHead2()">Head</i>
                                    </li>
                                    <li>
                                        <i ng-click="changeSrcHead2()">Head</i>
                                    </li>
                                </ul>
                            </section>
                        </section>
                        <figure>
                            <img ng-src="{{headData.image}}"/>
                        </figure>
                        <figure class="bed-head">
                            <img class="bett-kasten" src="img/bett-image-kasten.png"/>
                        </figure>
                        <figure class="kasten">
                            <img class="bett-kasten" src="img/bett-image-kasten.png"/>
                        </figure>

                </div>

                <div class="large-4 columns">
                    <div class="own-design-bar">
                        <section class="own-design-header">
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            </p>
                        </section>
                        <ul>
                            <li>
                                <p>{{headData.title}}</p>
                                <p>{{headData.price}}</p>

                                <!--<p>{{productname}} </p>

                                <p class="product-prize">{{productprice}}</p>-->
                            </li>
                            <!--
                            <ul class="own-design-accordion accordion" data-accordion>

                              <li class="accordion-navigation">
                                <a href="#panel1a"><i class="fa fa-sliders"></i>{{productname}} {{productcolor}}</a>
                                <div id="panel1a" class="content active">
                                  Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                              </li>
                              <li class="accordion-navigation">
                                <a href="#panel2a"><i class="fa fa-sliders"></i>Accordion 2</a>
                                <div id="panel2a" class="content">
                                  Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                              </li>
                              <li class="accordion-navigation">
                                <a href="#panel3a"><i class="fa fa-sliders"></i>Accordion 3</a>
                                <div id="panel3a" class="content">
                                  Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                              </li>
                              <li class="accordion-navigation">
                                <a href="#panel4a"><i class="fa fa-sliders"></i>Accordion 3</a>
                                <div id="panel4a" class="content">
                                  Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                              </li>
                                -->
                        </ul>
                        <section class="own-design-footer">
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            </p>

                            <div class="button-group">
                                <ul>
                                    <li>
                                        2.4039 €
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">

                <div class="large-4 columns">
                    <figure class="footer-logo">
                        <img src="">
                    </figure>

                </div>

                <div class="large-4 columns">
                    <ul class="">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
                <div class="large-4 columns">
                    <ul class="">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© Copyright no one at all. Go to town.</p>
    </div>

</footer>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.accordion.js"></script>
<script src="js/foundation/foundation.dropdown.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/controller.js"></script>
<script src="js/filters/capitalize.js"></script>
<script src="js/services.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

<script>
    $(document).foundation();
</script>
</body>
</html>
