.color-list {
    width: 104%;
   li {
        float: left;
        width: 49%;
        height: 60px;
        &:nth-child(1) {
            background: #ccc;
        }
        &:nth-child(2) {
            background: #ddd;
        }
        &:nth-child(3) {
            background: #222;
        }
        &:nth-child(4) {
            background: #555;
        }
        button {
            display: inline-block;
            background-color: transparent;
            border: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            &:hover {
                background: transparent;
            }
        }
   } 
}