footer {
    height: 350px;
    background-color: #f0f0f0;
    width: 100%;
    position: relative;
    bottom: 0;
    ul {
        li {
            line-height: 45px;
            text-align: center;
            a {
                color: $blueLightGrey;
            }
        }
    }
    .footer-logo {
        height: 150px;
        background-color: $blueLightGrey;
        margin: 0;
        width: 240px;
        margin-top: 15px;
    }
    .footer-bottom {
        position: absolute;
        bottom: 0;
        height: 45px;
        width: 100%;
        text-align: center;
        padding: 15px;
        background: $blueDarkGrey;
        color: #f1f1f1;
        p {
              margin: 0;
        }
    }
}