nav {
    position: relative;
    &.top-bar {
        height: 5.8125rem;
        background: $blueLightGrey;    
    }
    .top-bar-main-nav {
        display: table;
        table-layout: fixed;
        width: 70%;
        position: absolute;
        top: 2.4rem;
        right: 0;
        li {
            display: table-cell;
            text-align: center;
            a {
                color: #f1f1f1;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }
}
