//Created by tim on 16.07.15.
@import "compass/utilities/sprites";
$icons: sprite-map('icons/*.png', $pos: 0%, $spacing: 2px);

[class*="icon-"] {
	display: block;
    text-decoration: none;
    @include size(45px);
}

.bed-icon-poi {
    @include retina-sprite($icons, point-icon);
}