#intro-layer {
    background: $blueDarkGrey;
    height: 960px;
    margin-top: 90px;
    position: relative;
    h1 {
        font-size: 60px;
        line-height: 60px;
        color: #f1f1f1;
    }
    .intro-teaser {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 0;
        @include transform(translateY(-50%));
        p {
            font-size: 24px;
            color: #f1f1f1;
        }

    }
    .intro-teaser-img {
        position: absolute;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));
    }
}