//____________________________________________________________________________________________|
//Mixins Start --------------------------------------------------------------------------------\


@mixin box-shadow($value) {
    -webkit-box-shadow: #{$value};
    box-shadow: #{$value};
}

@mixin border-radius($value) {
    -webkit-border-radius: #{$value};
    border-radius: #{$value};
}

@mixin background-size($value) {
    -webkit-background-size: #{$value};
    -moz-background-size: #{$value};
    -o-background-size: #{$value};
    background-size: #{$value};
}

@mixin transform($value) {
    -webkit-transform: #{$value};
    -moz-transform: #{$value};
    -ms-transform: #{$value};
    -o-transform: #{$value};
    transform: #{$value};
}

@mixin transform-origin($value) {
    -webkit-transform-origin: #{$value};
    -moz-transform-origin: #{$value};
    -ms-transform-origin: #{$value};
    -o-transform-origin: #{$value};
    transform-origin: #{$value};
}

@mixin retina-sprite($map, $img) {
    background: sprite($map, $img) no-repeat;
    background-position: sprite-position($map, $img, 0, 0, true);
}

@mixin transform-style($prop) {
    -webkit-transform-style: $prop;
    -moz-transform-style: $prop;
    transform-style: $prop;
}

@mixin transition($value) {
    -moz-transition: #{$value};
    -webkit-transition: #{$value};
    -o-transition: #{$value};
    transition: #{$value};
}

@mixin transitionCeaser($value, $easing) {
    -moz-transition: #{$value} ceaser($easing);
    -webkit-transition: #{$value} ceaser($easing);
    -o-transition: #{$value} ceaser($easing);
    transition: #{$value} ceaser($easing);
}

@mixin perspective($value) {
    -moz-perspective: $value;
    -webkit-perspective: $value;
    perspective: $value;
}

@mixin backface-visibility($prop) {
    -webkit-backface-visibility: $prop;
    -moz-backface-visibility: $prop;
    -ms-backface-visibility: $prop;
    backface-visibility: $prop;
}

@mixin size($width, $height: undefined) {
    @if $height == undefined {
        width: #{$width};
        height: #{$width};
    } @else {
        width: #{$width};
        height: #{$height};
    }
}

@mixin svgbg($png, $svg, $top: undefined, $left: undefined) {

    //Set defaults
    @if $top == undefined {
        $top: center;
    }
    @if $left == undefined {
        $left: center;
    }

    //Renders a png background image
    background: transparent url(#{$png}) $top $left no-repeat;

    //Modern browser supporting linear gradients will render an svg over the png
    background-image: -webkit-linear-gradient(transparent, transparent), url(#{$svg});
    background-image: -moz-linear-gradient(transparent, transparent), url(#{$svg});
    background-image: linear-gradient(transparent, transparent), url(#{$svg});

    background-size: 100% 100%;
}

@mixin bg-size($value) {
    -webkit-background-size: #{$value};
    -moz-background-size: #{$value};
    -o-background-size: #{$value};
    background-size: #{$value};
}

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@mixin opacity($value){
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value*100})";
     filter: alpha(opacity=$value*100);
     opacity: $value;
}

@mixin border-box() {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
//Mixins End ----------------------------------------------------------------------------------/
//————————————————————————————————————————————————————————————————————————————————————————————|