.own-design-bed {
    top: 210px;
    position: relative;
}

.bett-kasten {
    top: -3px;
    position: absolute;
    width: 480px;
}
.bett-head {
    top: -3px;
    position: absolute;
    width: 480px;
}


