.bed-icon-poi {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
}

.tooltip-section {
    position: absolute;
    height: 120px;
    width: 120px;

    .tooltip-point {
            visibility: hidden;
            width: 120px;
            height: 120px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 1;
            top: 0 !important;
            left: 0 !important;
        &.f-open-dropdown {
            visibility: visible;
            overflow: hidden;
            border: 5px solid #fff;
        }
    }
    
    &.poi-1 {
        top: 45px;
        left: 65px;
    }
    &.poi-2 {
        top: 180px;
        left: 85px;
    }
    &.poi-3 {
        top: 260px;
        left: 165px;
    }
    &.poi-4 {
        top: 130px;
        left: 395px;
    }
}