#own-design-section {
    height: 900px;
    padding-top: 60px;
    .own-design-bar {
        background: #fff;
        border: 7px solid $lilaLight;
    }
    .own-design-header {
        height: 120px;
        padding: 15px;
        background:  $greenLight;
        color: #fff;
        p {
            text-align: center;
            font-size: 13px;
            top: 50%;
            position: relative;
            @include transform(translateY(-50%));
        }
    }
    .own-design-accordion {
        .fa-sliders {
            margin-right: 20px;
            font-size: 25px;
            top: 3px;
            position: relative;
            color: $blueLightGrey;
        }
        &.accordion {
            .accordion-navigation > a, .accordion dd > a {
                background: #fff;
                border-bottom: 1px solid #ddd;
                color: #5e6076;
            }
            .accordion-navigation > .content.active, .accordion dd > .content.active {
                background: #f1f1f1;
                display: block;
                font-size: 13px;
                line-height: 24px;
            }
        }

    }
    .own-design-footer {
        height: 200px;
        p {
            text-align: center;
            font-size: 13px;
            top: 35%;
            position: relative;
            @include transform(translateY(-50%));
        }
        .button-group {
            position: absolute;
            bottom: 7px;
            width: 289px;
            left: 22px;
            background-color: #000;
            height: 80px;
            ul {
                display: table;
                table-layout: fixed;
                width: 100%;
                height: 100%;
                li {
                    display: table-cell;
                    text-align: center;
                        vertical-align: middle;
                    &:first-child {
                        background:  $blueDarkGrey;
                        width: 55%;
                        font-size: 26px;
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        color: #f1f1f1;
                    }
                    &:last-child {
                        background:  $greenLight;
                        width: 45%;
                        .fa-shopping-cart {
                            font-size: 49px;
                            margin-right: 15px;
                            color: #f1f1f1;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}